.footer {
    background: #EEE;
    padding-top: 40px;
    padding-bottom: 30px;
    box-shadow:0 0 40px rgba(0, 0, 0, 0.2);
}

.footer .logo {
    max-height: 140px;
    margin: auto;
}

.footer-link {
    color: var(--light-blue-color);
    font-size: 0.9em;
    margin: 4px 0;
    text-align: left;
    display: block;
}

.footer-link div.modal {
    text-transform: none;
    font-weight: 300;
    font-size: 14px;

}

.footer-top-block {
    border-bottom: 1px solid var(--light-blue-color);
}

.footer-top-block > .row {
    margin-bottom: 10px;
}

.outside-link.logo {
    max-width: 70px;
    margin: auto 10px;
}

.footer-outside-link {
    margin-top: 5px;
}

.footer-outside-link a {
    align-self: center;
}


@media (max-width: 768px) {
    a.footer-link {
        font-size: 1em;
        line-height: 25px;
    }
}