.footer {
    background: var(--light-blue-color);
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer-logo {
    width: auto;
    height: auto;
    margin: 0 0 25px 0;
}

.footer-link {
    color: var(--light-gray-color);
    font-size: 0.9em;
    margin: 4px 0;
    text-align: left;
    display: block;
}

.footer-link div.modal {
    text-transform: none;
    font-weight: 300;
    font-size: 14px;
}

.footer-top-block {
    border-bottom: 1px solid var(--light-gray-color);
}

.outside-link.logo {
    max-width: 70px;
    margin: auto 10px;
}

.footer-outside-link {
    margin-top: 5px;
}

.footer-outside-link a {
    align-self: center;
}


@media (max-width: 768px) {
    a.footer-link {
        font-size: 1em;
        line-height: 25px;
    }
}