.oz-form fieldset > legend{
    color: var(--blue-color);
    border-bottom-color: var(--blue-color);
    text-transform: uppercase;
    font-size: 1.2em;
}

.oz-form fieldset .field-label {
    color: var(--pink-color);
}

.oz-form fieldset .val {
    color: var(--black-color);
}

.oz-form .input-group .form-control {
    z-index: auto;
}

