#oz-nav.navbar-auth .navbar-nav>li>a:hover,
#oz-nav.navbar-auth .navbar-nav>li>a.focus,
#oz-nav.navbar-auth .navbar-nav>li>a:focus {
    color: var(--white-color);
}

#oz-nav.navbar-auth .navbar-nav>li>a>img,
#oz-nav.navbar-noauth .navbar-nav>li>a>img {
    margin-right: 5px;
}

#oz-nav.navbar-noauth {
    margin-bottom: 0;
    background: var(--white-color);
    border: none;
}

#oz-nav.navbar-noauth a {
    text-transform: uppercase;
    color: var(--red-color) !important;
}

#oz-nav.navbar-noauth #ozwillo-navbar {
    margin-top: 10px;
}

#oz-nav.navbar-noauth .navbar-brand {
    padding: 10px;
}

#oz-nav.navbar-noauth .navbar-brand>img {
    max-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#oz-nav.navbar-auth {
    width: 100%;
    margin: auto 0;
    background: var(--blue-color);
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#oz-nav.navbar-auth .navbar-nav > li {
    height: 55px;
}


#oz-nav.navbar-auth ul.navbar-nav:first-child {
    padding-left: 200px;
}

#oz-nav.navbar-auth .navbar-nav > li:hover {
    background-color: var(--pink-color);
}

#oz-nav.navbar-auth .navbar-nav>li>a {
    color: var(--white-color);
    height: 100%;
}

#oz-nav.navbar-auth .navbar-nav .menu-icon {
    font-size: 1.2em;
}

.navbar-toggle {
    cursor: pointer;
}

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle.collapsed:hover,
.navbar-toggle.collapsed .icon-bar {
    background-color: var(--white-color) !important;
}

.navbar-toggle.collapsed,
.navbar-toggle .icon-bar,
.navbar-toggle:hover .icon-bar{
    background-color: var(--blue-color) !important;
}


#ozwillo-navbar {
    position: relative;
}

@media (min-width: 768px) {
    #oz-nav.navbar {
        border-radius: 0;
    }
}

@media (max-width: 425px) {
    #oz-nav.navbar-auth ul.navbar-nav:first-child {
        padding-left: 0px;
    }
}