.pill-label {
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    border-radius: 50px;
    border: solid 1px var(--primary-color);
    width: 100px;
    max-width: 150px;
    height: 35px;
    cursor: pointer;
    margin: 0 0.2em 1em 0.2em;
    transition: all 0.3s;
}
.pill-label:hover{
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, .3);
}

.pill-input:checked + .pill-label{
    background-color: var(--primary-color);
    border-color: var(--secondary-color);
    color: var(--tertiary-color);

}

.pill-input{
    display: none;
}