.side-nav{
    background-color: var(--tertiary-color);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    width: 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
}


.side-nav .content{
    padding-top: 10%;
}

.side-nav .fa-chevron-left{
    justify-self: flex-start;
    align-self: flex-end;
    padding: 5% 5% 0 0;
    font-size: 1.5em;
    color: var(--primary-color);
    cursor: pointer;
}

.side-nav-tongue{
    position: relative;
    font-size: 1.25em;
    color: var(--primary-color);
    border-width: 2px 2px 2px 0;
    border-radius: 0px 25px 25px 0;
    border-color: var(--black-color);
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1%;
}

.side-nav-tongue .fa{
    font-size: 1.25em;
}


.badge-filter{
    background-color: var(--alert-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary-color);
    position: relative;
    bottom: -15px;
    left: -15px;
}