.app-store-wrapper{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.app-store-container{
    display: flex;
    flex-flow: wrap row;
    flex: 1;
    padding: 0em 0 1em 0;
    align-items: start;
    max-height: 80vh;
    overflow-y: auto;
    justify-content: center;
}

.app-list{
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;

}

.app-store-wrapper .app-store-container-loading{
    align-self: center;
    justify-self: center;
    width: 100%;
    font-size: 4em;
}

.app-store-container .search-bar{
    width: 40%;
    position: absolute;
    z-index: 10;
    /*border-radius: 50px;*/
    margin-top: 0;
    box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, .3);
    transition: all 0.3s ease-in;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-color: var(--primary-color);
}

.app-store-container .search-bar.invisible{
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.app-store-wrapper::-webkit-scrollbar-thumb{
    background: red;
}