<header class="container-fluid oz-header" data-th-fragment="header">

    <div class="user-container my-oasis" data-th-data="@{/my/api/notifications/summary}" data-th-if="${user}">
        <p class="text-center welcome" data-toggle="tooltip" data-placement="bottom"
           title="Vous avez 0 notification en attente">
            <a href="#" data-th-href="@{/my/notif}">
                <i class="fa fa-user-circle-o"></i>
                <span data-th-text="${user.nickname}">Benoit</span>
                <span class="badge badge-notifications">
                    0 <span class="sr-only">Unread notifications</span>
                </span>
            </a>
        </p>
    </div>

    <div class="logo-container">
        <a href="#" data-th-href="@{/my/dashboard}" data-th-if="${user}">
            <img data-th-src="@{/img/logo-sictiam.png}" alt="Logo Sictiam" class="logo-app"/>
        </a>

        <a href="#" data-th-href="|${webHome}/${currentLanguage.locale.language}|" data-th-unless="${user}">
            <img data-th-src="@{/img/logo-sictiam.png}" alt="Logo Sictiam" class="logo-app"/>
        </a>
    </div>
    <div class="navbar-container row">
        <div data-th-replace="|includes/${user == null ? 'navigation' : 'my-navigation'}::nav|"></div>
    </div>

    <div data-th-replace="includes/alert"></div>

</header>
