<nav class="navbar navbar-auth" id="oz-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#ozwillo-navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="ozwillo-navbar">
            <ul class="nav navbar-nav">
                <li><div class="logo-space"></div></li>
                <li>
                    <a href="#" data-th-href="@{|/my/profile|}">
                        <i class="fa fa-user menu-icon" aria-hidden="true" alt="Profile icon"/>
                        <span data-th-text="#{my.profile}">Profile</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-th-href="@{|/my/network|}">
                        <i class="fa fa-globe menu-icon" aria-hidden="true" alt="Network icon"/>
                        <span data-th-text="#{my.network}">Network</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-th-href="@{|/my/apps|}">
                        <i class="fa fa-desktop menu-icon" aria-hidden="true" alt="Apps"/>
                        <span data-th-text="#{my.apps}"></span>
                    </a>
                </li>

                <li>
                    <a href="#" data-th-href="@{|/${currentLanguage.locale.language}/store|}">
                        <i class="fa fa-shopping-bag menu-icon" aria-hidden="true" alt="Store icon"/>
                        <span data-th-text="#{ui.appstore}">Apps Store</span>
                    </a>
                </li>
                <li>
                    <a data-th-href="@{|${opendataUrl}/${currentLanguage.locale.language}|}">
                        <i class="fa fa-signal menu-icon" alt="Data icon"/>
                        <span data-th-text="#{ui.datastore}">Données</span>
                    </a>
                </li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-th-href="@{/logout}">
                        <i class="fa fa-sign-out menu-icon" alt="Logout icon"/>
                        <span data-th-text="#{ui.logout}">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
